html {
    font-family: merriweather, serif;
    background: rgb(99, 198, 198);
}

.inbox {
    background-color: white;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D1E2FF ;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+p {
    background-color: #f9f9f9;
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 20px;
    transform: scale(1.5,1.5);
}

p {
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    flex: 1;
    font-size: 18px;
    border-left: 1px solid #D1E2FF;
}