@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html {
  box-sizing: border-box;
  font-size: 10px;
  background-color: #3e3b3b;
  /* background: linear-gradient(45deg, #1e1e1e 0%, #252525 50%, #3e3e3e 100%); */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

.display__time-left {
  font-size: 20rem;
  color: white;
  /* font-weight: 100; */
  margin: 0;
  text-shadow: 4px 4px 0 red;
}

.display__end-time {
  font-size: 4rem;
  color: white;
}

.timer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.timer__controls {
  display: flex;
}

.timer__controls > * {
  flex: 1;
}

.timer__controls form {
  flex: 1;
  display: flex;
}

.timer__controls input {
  flex: 1;
  border: 0;
  padding: 2rem;
}

.timer__button {
  background: none;
  border: 0;
  cursor: pointer;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: 2rem;
  text-transform: uppercase;
  background: rgba(0,0,0,0.1);
  border-bottom: 3px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  padding: 1rem;
}

.timer__button:hover,
.timer__button:focus {
  background: rgba(0,0,0,0.2);
  outline: 0;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}