@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
  font-size: 10px;
  background-color: rgb(227, 94, 94);
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

img {
  width: 25rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 1rem;
}

h1 .speed {
  font-size: 4rem;
}

.coordinates {
  font-size: 2rem;
  display: flex;
  justify-content: end;
}

@media (max-width: 45rem) {
  .coordinates {
    flex-direction: column;
    align-items: center;
  }
}